body, html {
	height: 100%;
	margin: 0;
	font-family: Arial;
	align-content: center;
}

.bg {
	background-image: url('https://cdn.aarp.net/content/dam/aarp/money/investing/2020/01/1140-bull-and-bear-illustration-with-stock-chart.jpg');	
  	height: 100%; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color: white;
}

.header {
  	font-size: 90px;
  	-webkit-text-stroke: 1px black; 
}

.sub {
	font-size: 50px;
}

@media only screen and (max-width: 720px) {
	body, html {
		font-size: 9px;
	}
	
	.bg {
		height: 50%;
		font-size: 36px;
	}

	.sub {
		font-size: 20px;
	}

	/* hide initial value and profit and loss on mobile so not too crowded */
	table thead tr :nth-child(5) {
		display: none; 
	}

	table thead tr :nth-child(6) {
		display: none; 
	}

	table tbody tr :nth-child(5) {
		display: none; 
	}

	table tbody tr :nth-child(6) {
		display: none; 
	}

	/* decrease size of table font, input, and button */
	table tbody tr td .form-control {
		width: 40px;
	}

	table {
		font-size: 7px;
	}

}
